
<div class="row mx-4 my-2">
     <div class="col-md-12 text-center">
          <h1 class="text-warning">Greetings of the day!</h1>
      </div>
      <div class="row mt-5 mb-5">
          <div class="col-md-3">
               <img src="/images/my-image.jpg" class="img-fluid mb-2" alt="..." style="border-radius: 50%; box-shadow: 1px 1px 5px 3px rgb(73 127 176)">   
          </div>
          <div class="col-md-9">
               <div class="mt-4">               
                    <p class="h5 text-white">Hello,</p>
                    <p class="h5 text-white">
                         My name is <b style="color:yellow;">Divyanshu Johar</b> and I am originally from India. I'm currently pursuing the 
                         <b style="color:yellow;">Artificial Intelligence Fast-Track Program</b> at Centennial College.
                    </p>
                    <p class="h5 text-white">
                         I have 3+ years of work experience as <b style="color:yellow;">
                         Software Developer</b> in software design, analysis, development and implementation of web and 
                         client server applications using Microsoft Technologies.
                    </p>
                    <p class="h5 text-white">
                         I have sound knowledge of application development using <b style="color:yellow;">
                         C#, .NET Core, .NET Framwork, MVC Architecture, Entity Framework and SQL Server</b>.
                    </p>
               </div>
               <div class="mt-4 text-center">
                    <a href="/files/Resume_Divyanshu.pdf" download = "Resume_Divyanshu" style="text-decoration: none">
                         <button type="button" class="btn text-dark btn-lg bg-white">Download Resume <i class="fa fa-download" download></i></button>
                    </a>
               </div>
               
          </div>
     </div>
</div>