<!-- Home page - partial -->
<div class="col-md-12">
    <div class="col-md-12 text-center">
        <img src="/images/my-logo2.png" width="120" height="120" alt="...">
</div>
<div class="col-md-12 text-center">
    <h1 class="text-warning">Express Portfolio</h1>
</div>
<div class="col-md-12 text-center">
    <p class="h2 text-white" style="font-family: CursiveBrush Script MT;"><b><i>Welcome to the world of Software Designing & Development</i></b></p>
</div>
    <div class="row mt-3 mb-2 text-center">
        <div class="col-md-4">
            <div class="card-body" style="height: 300px;">
                <p class="h3" style="color: yellow;" >Mission Statement:</p>
                <p class="card-text h4 text-white"> To leverage my experience and passion for technology and artificial intelligence
                    in order to develop innovative and high quality software products for the clients.</p>
                <a href="/about" class="btn text-dark btn-lg bg-white">Know more <i class="fas fa-info-circle"></i> </a>
            </div>
        </div>
        <div class="col-md-8">
            <img class="rounded" src="/images/home-image2.png" height="300" alt="..." style="box-shadow: 1px 1px 5px 10px rgb(145 117 68); opacity: 40%;">
        </div>
    </div>    
</div>