<div class="col-md-12 mx-2 my-2">
    <div class="col-md-12 text-center">
        <h1 class="text-warning">Welcome to Express Portfolio</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            <p class="h3 text-white"><a href="/about" style="color: yellow;">Click here</a> to know more about me.</p>
            <p class="h3 text-white"><a href="/projects" style="color: yellow;">Click here</a> for the details about my projects.</p>
        </div>
        <div class="col-md-12 mt-5 text-center align-items-end">
            <p><i class="h3" style="color: yellow;">Mission Statement:</i>
                <i class="h4 text-white">"To leverage my experience and passion for technology and artificial intelligence
                in order to develop innovative and high quality software products for the clients"</i>
            </p>
        </div>
    </div>
</div>