<!-- Projects page - partial -->
<div class="col-md-12">
     <div class="col-md-12">
          <h1 class="h1 text-warning text-center">Projects</h1>
     </div>
     <div class="row mt-5 text-center align-items-center">
          <div class="col-md-8">
               <div class="card-body" style="background-color: #6c757d;  box-shadow: 1px 1px 5px 3px rgb(208 187 187)">
                    <p class="h3" style="color: yellow;">Fileade</p>
                    <p class="h5 text-white">
                       Fileade is a web application developed on .NET Framework and based on MVC Architecture, using
                       SQL Server 2014 as database client. The application was developed to serve the purpose of ordering 
                       and maintaing the servers installed by the client's organization.
                    </p>
                    <p class="h5 text-white">
                         <b style="color: yellow;">Role :</b>
                         Development of some major modules along with Web APIs and database stored procedures.
                  </p>
                  </div>
          </div>
          <div class="col-md-4">
               <div class="card d-flex flex-row-reverse" style=" box-shadow: 1px 1px 5px 3px rgb(255 255 0)">
                    <img src="/images/project1.jpg" class="card-img-top" alt="...">
                    
               </div>
          </div>
     </div>
     <div class="row mt-5 text-center align-items-center">
          <div class="col-md-4">
               <div class="card align-self-end" style=" box-shadow: 1px 1px 5px 3px rgb(255 255 0)">
                    <img src="/images/project2.jpg" class="card-img-top" alt="...">
                    
               </div>
          </div>
          <div class="col-md-8">
               <div class="card-body" style="background-color: #6c757d;  box-shadow: 1px 1px 5px 3px rgb(208 187 187)">
                    <p class="h3" style="color: yellow;">Clifford Chance Units</p>
                    <p class="h5 text-white">
                         Clifford Chance Units is a web application developed on .NET Core and based on MVC Architecture,
                         using SQL Server 2016 as database client. The application was developed to serve the purpose of 
                         assigning monetary units to client partners and managing partners' units along with the other
                         details.
                    </p>
                    <p class="h5 text-white">
                         <b style="color: yellow;">Role :</b>
                         Development of some major modules along with Web APIs and gathering requirements from clients.
                    </p>
               </div>
          </div>
     </div>
     <div class="row mt-5 text-center align-items-center">
          <div class="col-md-8">
               <div class="card-body" style="background-color: #6c757d;  box-shadow: 1px 1px 5px 3px rgb(208 187 187)">
                    <p class="h3" style="color: yellow;">Callipso - SWAN</p>
                    <p class="h5 text-white">
                         Callipso - SWAN is a web application developed on .NET Framwork and based on layered architecture,
                         using Oracle 11g as database client. The application was developed to serve the purpose of 
                         maintaining a ticketing system/tool for the clients.
                    </p>
                    <p class="h5 text-white">
                         <b style="color: yellow;">Role :</b>
                         Development of some major modules, gathering requirements from clients and conducting workshops.
                  </p>
               </div>
          </div>
          <div class="col-md-4">
               <div class="card align-self-end" style=" box-shadow: 1px 1px 5px 3px rgb(255 255 0)">
                    <img src="/images/project3.jpg" class="card-img-top" alt="...">
                    
               </div>
          </div>
     </div>
</div>