<!-- Services page - partial -->
<div class="col-md-12">
     <div class="col-md-12">
          <h1 class="h1 text-warning text-center">Services</h1>
     </div>
     
     <div class="row align-items-center">
          <div class="col-md-6 text-center">
                    <p class="card-title h3" style="color: yellow;">Web Development</p>
                    <p class="h5 card-text mt-3 text-white"> HTML, jQuery, JavaScript, NodeJS, ExpressJS  </p>
               </div>  
          <div class="col-md-6 text-center" style="padding: 2rem;">
               <img src="/images/web-dev.jpg" class="card-img-top rounded" alt="..." style="box-shadow: 1px 1px 5px 10px rgb(145 117 68);width: 400px;">
          </div>                  
     </div>
     <div class="row align-items-center">
          <div class="col-md-6 text-center" style="padding: 2rem;">
               <img src="/images/gen-prog.png" class="card-img-top rounded" alt="..." style="box-shadow: 1px 1px 5px 10px rgb(145 117 68);width: 400px;">
          </div>
          <div class="col-md-6 text-center">
                    <p class="h3" style="color: yellow;">General Programming</p>
                    <p class="h5 mt-3 text-white">C#(.NET), Java, SQL</p>
          </div>                    
     </div>
</div>
