<div class="col-md-12 mx-2 my-2">
     <div class="col-md-12">
          <h1 class="h1 text-warning text-center">Services</h1>
     </div>
     <div class="col-md-12 mt-5">
          <div class="row">
               <div class="col-md-6"></div>
               <div class="col-md-6">
                    <img src="/images/serviceImg.png" class="img-fluid rounded mb-2" alt="..." style="box-shadow: 1px 1px 5px 3px rgb(255 193 7 / 50%);">
               </div>
          </div>
     </div>
     <div class="col-md-12 mt-3">
          <div class="row">
               <div class="col-md-6">
                    <img src="/images/serviceImg.png" class="img-fluid rounded mb-2" alt="..." style="box-shadow: 1px 1px 5px 3px rgb(255 193 7 / 50%);">
               </div>
               <div class="col-md-6"></div>
          </div>
     </div>
</div>