<!-- Contact View Template -->
<!DOCTYPE html>
<html>
  <!-- include head -->
  <%- include partials/head %>
  
  <body class="d-flex flex-column h-1000 mb-5 body-style" >
    <header>      
      <!-- include header -->
      <%- include partials/navbar %>
    </header>
    <main class="flex-shrink-0">
      <div class="container mt-4 mb-2 container-style">
        <div class="row" style="height: 100%;" >
          <div class="col-md-12">
            <div class="col-md-12 text-center">
              <h1 class="h1 text-warning">Contact</h1>
              <p class="h5 text-white mt-3">In case of any query, please feel free to contact anytime.</p>
              <p class="h5 text-white">All the queries are usually responded within 24 hours.</p>
              <p class="h5 text-white">Click here to send an email directly
                <a href="mailto:djohar@my.centennialcollege.ca" class="mail" style="color: yellow;"><i class="fas fa-envelope"></i>djohar@my.centennialcollege.ca</a>
              </p>
              <p class="h4 text-white mt-3">OR</p>
            </div>
            
            <!--Form -->
            <div class="col-md-12">
              <div class="form-field"> 
                <h1 class="text-warning text-center mb-3">Submit Your Query</h1>       
                <form style="text-align: start;" id="form" action="/home" method="POST">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="exampleFormControlInput1" class="form-label">First Name</label>
                      <input type="text" class="form-control" value="" name="firstName" id="exampleFormControlInput1" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                      <input type="text" class="form-control" value="" name="lastName" id="exampleFormControlInput1" placeholder="Last Name" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" class="form-control" value="" name="email" id="exampleFormControlInput1" placeholder="name@example.com" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Mobile No</label>
                      <input type="number" class="form-control" value="" name="mobile" id="exampleFormControlInput1" placeholder=" Mobile Number" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                      <textarea class="form-control" value="" name="description" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn text-dark btn-lg" style="background-color: #ffc107;">Submit</button>
                    </div>
                  </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>    
  </body>
  <footer class="footer mt-auto py-2 fixed-bottom footer-bg">
    <!-- include footer -->
    <%- include partials/footer %>
  </footer>
</html>