<!-- Main page html view -->
<!DOCTYPE html>
<html>
  <!-- include head -->
  <%- include partials/head %>   
  
  <body class="d-flex flex-column h-1000 mb-5 body-style" >
    <header> 
      <!-- include navbar -->
      <%- include partials/navbar %>
    </header>
      <main class="flex-shrink-0">
        <div class="container mt-4 mb-2 container-style">
          <div class="row" style="height: 100%;" >
            <div class="col-md-12">
              <div class="col-md-12">
                <h1 class="h1 text-warning text-center"><%=title%></h1>
              </div>
             
              <div class="col-md-12">
                  <div class="form-field"> 
                    <form style="text-align: start;" id="form" action="/login" method="POST" autocomplete="off">
                      <div class="col-md-12 mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus required>
                      </div>
                      <div class="col-md-12 mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                      </div>    
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Login</button>
                          <a href="/">
                            <input type="button" class="btn btn-warning" value="Cancel">
                          </a>
                        </div>
                      </div>
                      </form>
                  </div>
              </div>
            </div>  
          </div>
        </main>   
    </body>
    <footer class="footer mt-auto py-2 fixed-bottom footer-bg">
      <!-- include footer -->
      <%- include partials/footer %>
    </footer>
  </html>